<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>

  

      
      <header class="">
        <div class="page-header text-center">
          <h1 class ="text-primary"><span class="far fa-address-book text-primary" ></span>Personal Contact List</h1>
          <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
        </div>
      </header>
      
      <main>
        <section class="container  text-center">
         
          <section class="container">

            <section>
              <h2>Add a contact</h2>
            </section>

            <Section>

              <!-- form -->
              </section>
                <% if (user.local.email) { %>
                <form action="/messages" method="POST">
                  <!-- <p><input type="text" value="<%= user.local.email %>" name="name"></p> -->
                  <p><input type="text" placeholder="do not delete" value="<%= user._id %>" name="user"></p>
                  <p><input type="text" placeholder="first name" name="firstName"></p>
                  <p><input type="text" placeholder="last name" name="lastName"></p>
                  <p><input type="tel" placeholder="mobile" name="mobile"></p>
                  <p><input type="email" placeholder="email address" name="email"></p>
    
                  <button type="submit" class = 'btn btn-primary btn-lg'  >Submit</button>
                </form>
              </Section>

              <!-- contacts list -->
              <section class="">
                <h3>Contacts</h3>
                <ul class="messages">
                <% for(var i=0; i<messages.length; i++) {%>
                  <%if( messages[i].user ==
                  user._id ) { %>
                    <li class="message">
                      <% let color %>
                      <% if(messages[i].favorited === true) { %>
                      <% color = 'orange' %> 
                      <% } %>
                      <span style = 'color: <%= color %>'><%= messages[i].firstName %></span>
                      <span style = 'color: <%= color %>'><%= messages[i].lastName %></span>
                      <span style = 'color: <%= color %>'><%= messages[i].mobile %></span>
                      <span style = 'color: <%= color %>'><%= messages[i].email %></span>
                      <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
                      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                      <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    </li>
                    <% } %>
                <% } %>
                </ul>
                <% } %>
              
              <section>

              <!-- LOCAL sign in INFORMATION -->  
              <!-- <section >

                <div class="col-sm-6 margint">
                  <div class="well text">
                      <h3><span class="fa fa-user"></span> Local</h3>

                      <% if (user.local.email) { %>
                          <p>
                              <strong>id</strong>: <%= user._id %><br>
                              <strong>email</strong>: <%= user.local.email %><br>
                              <strong>password</strong>: <%= user.local.password %>
                          </p>

                          <a href="/unlink/local" class="btn btn-default">Unlink</a>
                      <% } else { %>
                          <a href="/connect/local" class="btn btn-default">Connect Local</a>
                      <% } %>

                  </div>
                </div>
              </section> -->


            </section>
          </section>
        </section>
      </main>
      

         

  

  <script src="main.js"></script>

</body>
</html>
